/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [NoticeId]
      ,[ResidenceId]
      ,[NoticeType]
      ,[NoticeDataType]
      ,[DataItemId]
      ,[DataItemId2]
      ,[RefNum]
      ,[NoticeText]
      ,[DateRaised]
      ,[ProcessId]
      ,[Displayed]
      ,[DomicileId]
      ,[Title]
      ,[Forename]
      ,[Othername]
      ,[Surname]
      ,[AbodeNo]
      ,[BuildingNo]
      ,[BuildingName]
      ,[Street1]
      ,[Street2]
      ,[SubLocality]
      ,[Locality]
      ,[Town]
      ,[Postcode]
  FROM [Primary1].[dbo].[tblAllDisputesAndCorrection]