/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[alertScheduleTemplate]
      ,[ETag]
      ,[email]
      ,[isActive]
      ,[name]
      ,[_stash_changeTime]
      ,[RulesetVersion]
      ,[parentOrganisation]
  FROM [SmartAgent4].[Stash].[suppliers]