/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ShAccHolderId]
      ,[AccountId]
      ,[Member_PortId]
      ,[AccSuffix]
      ,[OldAccSuffix]
      ,[XfAccSuffix]
      ,[ChAccSuffix]
      ,[ResidenceId]
      ,[AccHldStartDate]
      ,[AccHldEndDate]
      ,[AccHldStartId]
      ,[AccHldEndId]
      ,[AccHldStatus]
      ,[DateOfBirth]
      ,[TransientFlag]
      ,[AccHoldBalance]
      ,[ConcurAFlag]
      ,[RDMFlag]
      ,[CorresAFlag]
      ,[AccountOC]
      ,[OnlineSuppressed]
      ,[Display]
      ,[ProcessId]
      ,[DtSrcTitle]
      ,[DtSrcForename]
      ,[DtSrcForename2]
      ,[DtSrcSurname]
      ,[DtSrcSuffix]
      ,[DtSrcAddress]
      ,[DtSrcPostcode]
      ,[DtConcurrentAddress]
      ,[DtRedirectedMail]
      ,[DtCorrespondenceAddress]
      ,[DtPostcode]
      ,[DtProcessId]
  FROM [PrimarySource].[dbo].[tblShAccHolder]