STash.suppliers

select * from stash.suppliers where name like '%jack russel%'

select * from stash.datascopes where organisationName like '%jack%'

select * from stash.datascopes where supplierid = 214  



select select * from stash.suppliers where name like '%jack russel%'


select * from stash.datascopes where memberPortfolioName like '%jack%'

