# ignore all dot files except docker and git ignores
.*
!.dockerignore
!.gitignore

# ignore all config.properties except the docker stored one
config.properties
!./docker/config.properties

# ignore output folders
bin
output
target

# ignore credentials file containing usernames and passwords
credentials.json
