/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [SearchId]
      ,[AuditDateTime]
      ,[UserName]
      ,[CompanyName]
      ,[OrgUnitId]
      ,[OrgUnitType]
      ,[OrgUnitName]
      ,[SearchPurpose]
      ,[AccountType]
      ,[BalanceLimit]
      ,[LoanTerm]
      ,[JointApplication]
      ,[SecondarySearch]
      ,[TransientAssociation]
      ,[LinkType]
      ,[YourReference]
      ,[DoB]
      ,[TransactionalOptOut]
      ,[AbodeNo]
      ,[BuildingNo]
      ,[BuildingName]
      ,[Street1]
      ,[Street2]
      ,[SubLocality]
      ,[Locality]
      ,[Town]
      ,[PostCode]
      ,[DateMoveIn]
      ,[DateMoveOut]
      ,[Title]
      ,[Forename]
      ,[Othername]
      ,[Surname]
      ,[ResidenceId]
      ,[SearchSequenceNum]
  FROM [SearchHistory_Online].[dbo].[SearchHistory]
  where SearchId = 'F7C2A476-B715-42D9-93E1-34374DB8260C'